<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Other Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  Other Detail Content
  <p>
    <a routerLink="child" routerLinkActive="router-link-active">go to child</a>
  </p>
  <p>
    <a routerLink="/more-details" routerLinkActive="router-link-active">go to more details</a>
  </p>
  <p>
    <a routerLink="/more-details/child" routerLinkActive="router-link-active">go to more details child</a>
  </p>
</ion-content>
