<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    My Test Links...
  </p>
  <p>
    <a routerLink="detail">Tab3 Detail</a>
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
  </p>
  <p>
    Really long <br />
    content
    <br />
    <br />
    My last line
  </p>

</ion-content>
